# Main settings section #
[alias]
	up = fetch -p
	last = log -1 HEAD --stat
	l = remote -v
	b = branch -a
	c = commit -m
	s = status -sb
	stat = status
	sub = submodule update --recursive --remote
	conf = config --list --show-origin --show-scope
	aliases = config --get-regex ^alias

[init]
	defaultBranch = master

[core]
	autocrlf = false
	filemode = false
	sshCommand = ssh.exe
# ------------------- #

# GPG Signing section #
# ------------------- #

# Include SSH creds section #
[includeIf "gitdir:**/Projects/school/**/.git"]
  path = gitlabvsb.gitconfig

[includeIf "gitdir:**/Projects/work/**/.git"]
  path = gitea.gitconfig

[includeIf "gitdir:**/.config/**/.git"]
  path = github.gitconfig
# ------------------------- #