/fish/completions/**
/fish/conf.d/**
/fish/fish_variables
/fish/fish_plugins
fish/functions/ssh-host-ls.fish
/tmux/**
!/tmux/tmux.conf
/**/*Zone.Identifier

omf
jgit
JetBrains
chromium
pulse
pypoetry
yarn
